# Part 1: List

In [1]:
# Create title, actors, reviews
title = "The Shining"
actors_vector <- c("Jack Nicholson","Shelley Duvall","Danny Lloyd","Scatman Crothers","Barry Nelson")
reviews_factor <- factor(c("Good", "OK", "Good", "Perfect", "Bad", "Perfect", "Good"), 
                  ordered = TRUE, levels = c("Bad", "OK", "Good", "Perfect"))

# Create the list 'shining_list' from 3 vectors above
shining_list <- list('title'=title,'actors'=actors_vector, 'reviews'=reviews_factor)
# Select the last actor from list: last_actor
last_actor <- shining_list$actors[length(shining_list$actors)]
# Select the second review from list: second_review
second_review <- shining_list$reviews[2]
# Add the element 'release_year' = 1980 to shining_list
shining_list$release_year = 1980
# Add the element 'director' = "Stanley Kubrick" to shining_list
shining_list$director = "Stanley Kubrick"
# Print list shining_list
print(shining_list)
# Print the structure of shining_list
str(shining_list)

$title
[1] "The Shining"

$actors
[1] "Jack Nicholson"   "Shelley Duvall"   "Danny Lloyd"      "Scatman Crothers"
[5] "Barry Nelson"

$reviews
[1] Good    OK      Good    Perfect Bad     Perfect Good
Levels: Bad < OK < Good < Perfect

$release_year
[1] 1980

$director
[1] "Stanley Kubrick"

List of 5
 $ title       : chr "The Shining"
 $ actors      : chr [1:5] "Jack Nicholson" "Shelley Duvall" "Danny Lloyd" "Scatman Crothers" ...
 $ reviews     : Ord.factor w/ 4 levels "Bad"<"OK"<"Good"<..: 3 2 3 4 1 4 3
 $ release_year: num 1980
 $ director    : chr "Stanley Kubrick"

# Part 2: Hãy thực hiện những yêu cầu sau với R-core dataframe và/ hoặc Tidyverse
1. Cho dữ liệu mtcars cho sẵn trong R datasets. Đọc dữ liệu. Hiển thị thông tin một số dòng đầu của dữ liệu. In thông tin thống kê chung.
2. Tạo sub_data chỉ có các thông tin mpg, hp, wt, gear
3. Tạp cột mới km_per_litre trong sub_data theo công thức: 1 mpg = 0.425 km/l
4. Tạo sub_data_unique lấy từ mtcars nhưng loại bỏ các dòng trùng (dùng distinct()
5. In sub_data_unique với giá trị được sắp xếp giảm dần theo mpg, tăng dần theo hp
6. Lọc các xe mà trong tên xe có 'Mazda' trong sub_data_unique. Có bao nhiêu xe thỏa điều kiện này?
7. Trong sub_data_unique, cho biết giá trị mpg lớn nhất? Có những dòng dữ liệu nào có mpg = mpg lớn nhất, in kết quả.
8. Lọc các dữ liệu thỏa các điểu kiện sau: mpg >= 25 và cyl=4 và gear=4
9. Thực hiện việc thống kê theo cyl, từ đó cho biết số lượng từng nhóm, cyl, hp lớn nhất, mpg nhỏ nhất
10. Trong sub_data, cho biết xe nào có km_per_litre lớn nhất, nhỏ nhất?

#### Note: dùng df = cbind(names = rownames(df), df) hoặc rownames_to_column(df, var = "names"): chuyển cột index thành cột "names"

In [2]:
# install.packages("tidyverse")

In [3]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.3     v dplyr   1.0.2
v tidyr   1.1.1     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
#1.
head(mtcars)
# ...

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [5]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [6]:
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [7]:
glimpse(mtcars)

Rows: 32
Columns: 11
$ mpg  <dbl> 21.0, 21.0, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17...
$ cyl  <dbl> 6, 6, 4, 6, 8, 6, 8, 4, 4, 6, 6, 8, 8, 8, 8, 8, 8, 4, 4, 4, 4,...
$ disp <dbl> 160.0, 160.0, 108.0, 258.0, 360.0, 225.0, 360.0, 146.7, 140.8,...
$ hp   <dbl> 110, 110, 93, 110, 175, 105, 245, 62, 95, 123, 123, 180, 180, ...
$ drat <dbl> 3.90, 3.90, 3.85, 3.08, 3.15, 2.76, 3.21, 3.69, 3.92, 3.92, 3....
$ wt   <dbl> 2.620, 2.875, 2.320, 3.215, 3.440, 3.460, 3.570, 3.190, 3.150,...
$ qsec <dbl> 16.46, 17.02, 18.61, 19.44, 17.02, 20.22, 15.84, 20.00, 22.90,...
$ vs   <dbl> 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,...
$ am   <dbl> 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,...
$ gear <dbl> 4, 4, 4, 3, 3, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 4, 4, 4, 3,...
$ carb <dbl> 4, 4, 1, 1, 2, 1, 4, 2, 2, 4, 4, 3, 3, 3, 4, 4, 4, 1, 2, 1, 1,...

In [8]:
mtcars <- cbind(names = rownames(mtcars), mtcars)

In [9]:
#2.
sub_data <- mtcars %>% select(mpg, hp, wt, gear)
head(sub_data)

                  mpg  hp  wt    gear
Mazda RX4         21.0 110 2.620 4
Mazda RX4 Wag     21.0 110 2.875 4
Datsun 710        22.8  93 2.320 4
Hornet 4 Drive    21.4 110 3.215 3
Hornet Sportabout 18.7 175 3.440 3
Valiant           18.1 105 3.460 3

In [10]:
#3.
mtcars <- mtcars %>% mutate(km_per_litre=0.425*mpg)

In [11]:
#4. 
sub_data_unique <- distinct(mtcars)

In [12]:
head(sub_data_unique)

  names             mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
  km_per_litre
1 8.9250
2 8.9250
3 9.6900
4 9.0950
5 7.9475
6 7.6925

In [13]:
#5.
print(arrange(sub_data_unique,desc(mpg),hp))

                 names  mpg cyl  disp  hp drat    wt  qsec vs am gear carb
1       Toyota Corolla 33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
2             Fiat 128 32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
3          Honda Civic 30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
4         Lotus Europa 30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
5            Fiat X1-9 27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
6        Porsche 914-2 26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
7            Merc 240D 24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
8           Datsun 710 22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
9             Merc 230 22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
10       Toyota Corona 21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
11          Volvo 142E 21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2
12      Hornet 4 Drive 21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
13           Mazda RX4 21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
14       Mazda RX4 Wag 21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
15        Ferrari Dino 19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
16            Merc 280 19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
17    Pontiac Firebird 19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
18   Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
19             Valiant 18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
20           Merc 280C 17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
21          Merc 450SL 17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
22          Merc 450SE 16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
23      Ford Pantera L 15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
24    Dodge Challenger 15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
25         AMC Javelin 15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
26         Merc 450SLC 15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
27       Maserati Bora 15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
28   Chrysler Imperial 14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
29          Duster 360 14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
30          Camaro Z28 13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
31  Cadillac Fleetwood 10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
32 Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
   km_per_litre
1       14.4075
2       13.7700
3       12.9200
4       12.9200
5       11.6025
6       11.0500
7       10.3700
8        9.6900
9        9.6900
10       9.1375
11       9.0950
12       9.0950
13       8.9250
14       8.9250
15       8.3725
16       8.1600
17       8.1600
18       7.9475
19       7.6925
20       7.5650
21       7.3525
22       6.9700
23       6.7150
24       6.5875
25       6.4600
26       6.4600
27       6.3750
28       6.2475
29       6.0775
30       5.6525
31       4.4200
32       4.4200

In [14]:
#6.
# sub_data = cbind(names = rownames(sub_data), sub_data) 
data_6 <- cbind(names = rownames(sub_data_unique), sub_data)

In [15]:
data_6

                    names mpg  hp  wt    gear
Mazda RX4           1     21.0 110 2.620 4
Mazda RX4 Wag       2     21.0 110 2.875 4
Datsun 710          3     22.8  93 2.320 4
Hornet 4 Drive      4     21.4 110 3.215 3
Hornet Sportabout   5     18.7 175 3.440 3
Valiant             6     18.1 105 3.460 3
Duster 360          7     14.3 245 3.570 3
Merc 240D           8     24.4  62 3.190 4
Merc 230            9     22.8  95 3.150 4
Merc 280            10    19.2 123 3.440 4
Merc 280C           11    17.8 123 3.440 4
Merc 450SE          12    16.4 180 4.070 3
Merc 450SL          13    17.3 180 3.730 3
Merc 450SLC         14    15.2 180 3.780 3
Cadillac Fleetwood  15    10.4 205 5.250 3
Lincoln Continental 16    10.4 215 5.424 3
Chrysler Imperial   17    14.7 230 5.345 3
Fiat 128            18    32.4  66 2.200 4
Honda Civic         19    30.4  52 1.615 4
Toyota Corolla      20    33.9  65 1.835 4
Toyota Corona       21    21.5  97 2.465 3
Dodge Challenger    22    15.5 150 3.520 3
AMC Javelin         23    15.2 150 3.435 3
Camaro Z28          24    13.3 245 3.840 3
Pontiac Firebird    25    19.2 175 3.845 3
Fiat X1-9           26    27.3  66 1.935 4
Porsche 914-2       27    26.0  91 2.140 5
Lotus Europa        28    30.4 113 1.513 5
Ford Pantera L      29    15.8 264 3.170 5
Ferrari Dino        30    19.7 175 2.770 5
Maserati Bora       31    15.0 335 3.570 5
Volvo 142E          32    21.4 109 2.780 4

In [30]:
data_6 = rownames_to_column(sub_data_unique, var='names')

ERROR: Error in rownames_to_columns(sub_data_unique, var = "names"): could not find function "rownames_to_columns"

In [17]:
mazda <- filter(data_6, str_detect(names,'Mazda'))

In [18]:
mazda

     names mpg hp wt gear

In [19]:
#7.
max(sub_data_unique$mpg)

[1] 33.9

In [20]:
sub_data_unique[sub_data_unique['mpg'] == max(sub_data_unique$mpg)]

 [1] "Toyota Corolla" "33.9"           "4"              " 71.1"
 [5] " 65"            "4.22"           "1.835"          "19.90"
 [9] "1"              "1"              "4"              "1"
[13] "14.4075"

In [21]:
#8.
sub_data_unique %>% filter(mpg >= 25 & cyl==4 & gear==4)

  names          mpg  cyl disp hp drat wt    qsec  vs am gear carb km_per_litre
1 Fiat 128       32.4 4   78.7 66 4.08 2.200 19.47 1  1  4    1    13.7700
2 Honda Civic    30.4 4   75.7 52 4.93 1.615 18.52 1  1  4    2    12.9200
3 Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.90 1  1  4    1    14.4075
4 Fiat X1-9      27.3 4   79.0 66 4.08 1.935 18.90 1  1  4    1    11.6025

In [22]:
#9.
# 9. Thực hiện việc thống kê theo cyl, từ đó cho biết số lượng từng nhóm, cyl, hp lớn nhất, mpg nhỏ nhất
group <- group_by(sub_data_unique,'cyl')
summary <- summarize(group, 
                    count=n(),
                    max.hp=max(hp),
                    min.mpg=min(mpg))

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows`summarise()` ungrouping output (override with `.groups` argument)

In [23]:
summary

  "cyl" count max.hp min.mpg
1 cyl   32    335    10.4

In [24]:
#.10
# 10. Trong sub_data, cho biết xe nào có km_per_litre lớn nhất, nhỏ nhất?
head(sub_data)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

                  mpg  hp  wt    gear
Mazda RX4         21.0 110 2.620 4
Mazda RX4 Wag     21.0 110 2.875 4
Datsun 710        22.8  93 2.320 4
Hornet 4 Drive    21.4 110 3.215 3
Hornet Sportabout 18.7 175 3.440 3
Valiant           18.1 105 3.460 3

In [25]:
# sub_data[mtcars$'mpg'[mtcars['km_per_litre']==max(mtcars$km_per_litre)]

In [26]:
sub_data <- sub_data %>% mutate(km_per_litre=0.425*mpg)
sub_data = cbind(names = rownames(sub_data), sub_data)
head(sub_data)

  names mpg  hp  wt    gear km_per_litre
1 1     21.0 110 2.620 4    8.9250
2 2     21.0 110 2.875 4    8.9250
3 3     22.8  93 2.320 4    9.6900
4 4     21.4 110 3.215 3    9.0950
5 5     18.7 175 3.440 3    7.9475
6 6     18.1 105 3.460 3    7.6925

In [27]:
sub_data[sub_data['km_per_litre']==max(sub_data$km_per_litre)]
# sub_data[mtcars['km_per_litre']==max(mtcars$km_per_litre)]

[1] "20"      "33.9"    " 65"     "1.835"   "4"       "14.4075"

In [28]:
sub_data[sub_data['km_per_litre']==min(sub_data$km_per_litre)]
# sub_data[mtcars['km_per_litre']==min(mtcars$km_per_litre)]

 [1] "15"      "16"      "10.4"    "10.4"    "205"     "215"     "5.250"
 [8] "5.424"   "3"       "3"       " 4.4200" " 4.4200"

In [29]:
# Done