In [1]:
student_1 <- data.frame('name'= c("Hellen",'Jolie','Kiwi','John','Mark','Tom'),
                       'age'= c(17,16,17,18,19,16),
                       'mark'= c(9,9,8,7.5,7.5,8),
                       stringsAsFactors = FALSE)

In [4]:
student_1

  name   age mark
1 Hellen 17  9.0
2 Jolie  16  9.0
3 Kiwi   17  8.0
4 John   18  7.5
5 Mark   19  7.5
6 Tom    16  8.0

In [5]:
str(student_1)

'data.frame':	6 obs. of  3 variables:
 $ name: chr  "Hellen" "Jolie" "Kiwi" "John" ...
 $ age : num  17 16 17 18 19 16
 $ mark: num  9 9 8 7.5 7.5 8

In [7]:
summary(student_1)

     name                age             mark
 Length:6           Min.   :16.00   Min.   :7.500
 Class :character   1st Qu.:16.25   1st Qu.:7.625
 Mode  :character   Median :17.00   Median :8.000
                    Mean   :17.17   Mean   :8.167
                    3rd Qu.:17.75   3rd Qu.:8.750
                    Max.   :19.00   Max.   :9.000

In [9]:
# Xuat du lieu\
# do ra vector
student_1$age

[1] 17 16 17 18 19 16

In [10]:
# Do ra dataframe
data.frame(student_1$age)

  student_1.age
1 17
2 16
3 17
4 18
5 19
6 16

In [14]:
# them cot
student_1$class <- c("K256_S7N","K256_C7N","K256_S24","K256_S7N","K256_S24","K256_C7N")

In [15]:
student_1

  name   age mark class
1 Hellen 17  9.0  K256_S7N
2 Jolie  16  9.0  K256_C7N
3 Kiwi   17  8.0  K256_S24
4 John   18  7.5  K256_S7N
5 Mark   19  7.5  K256_S24
6 Tom    16  8.0  K256_C7N

In [16]:
# Noi 2 dataframe
df_POB <- data.frame("FOB"= c("UK","US","EU","UK","US","EU"))
student_1 <- cbind(student_1, df_POB)

In [17]:
student_1

  name   age mark class    FOB
1 Hellen 17  9.0  K256_S7N UK
2 Jolie  16  9.0  K256_C7N US
3 Kiwi   17  8.0  K256_S24 EU
4 John   18  7.5  K256_S7N UK
5 Mark   19  7.5  K256_S24 US
6 Tom    16  8.0  K256_C7N EU

In [18]:
new_students <- data.frame('name'=c('Sunny',"Lucy"),
                          'age'=c(17,18),
                          'mark'=c(8,9),
                          'class'=c('K256_C7N',"K256_S24"),
                          'POB'=c("EU","UK"),
                          stringsAsFactors =FALSE)

In [21]:
student_1 <- rbind(student_1, new_students)

ERROR: Error in match.names(clabs, names(xi)): names do not match previous names

In [25]:
# Doi ten cot
names(student_1)[names(student_1)=="FOB"] <-"Place of birth"

In [26]:
student_1

  name   age mark class    Place of birth
1 Hellen 17  9.0  K256_S7N UK
2 Jolie  16  9.0  K256_C7N US
3 Kiwi   17  8.0  K256_S24 EU
4 John   18  7.5  K256_S7N UK
5 Mark   19  7.5  K256_S24 US
6 Tom    16  8.0  K256_C7N EU

## Tidyverse

In [27]:
pokemon <- read.csv('pokemon.csv')

In [38]:
head(pokemon,10)

   X. Name                      Type.1 Type.2 Total HP Attack Defense Sp..Atk
1  1  Bulbasaur                 Grass  Poison 318   45  49     49      65
2  2  Ivysaur                   Grass  Poison 405   60  62     63      80
3  3  Venusaur                  Grass  Poison 525   80  82     83     100
4  3  VenusaurMega Venusaur     Grass  Poison 625   80 100    123     122
5  4  Charmander                Fire          309   39  52     43      60
6  5  Charmeleon                Fire          405   58  64     58      80
7  6  Charizard                 Fire   Flying 534   78  84     78     109
8  6  CharizardMega Charizard X Fire   Dragon 634   78 130    111     130
9  6  CharizardMega Charizard Y Fire   Flying 634   78 104     78     159
10 7  Squirtle                  Water         314   44  48     65      50
   Sp..Def Speed Generation Legendary
1   65      45   1          False
2   80      60   1          False
3  100      80   1          False
4  120      80   1          False
5   50      65   1          False
6   65      80   1          False
7   85     100   1          False
8   85     100   1          False
9  115     100   1          False
10  64      43   1          False

In [43]:
library('tidyverse') # goi function
pokemon_sub = select(pokemon, c(2,5,7,8))

In [44]:
head(pokemon_sub)

  Name                  Total Attack Defense
1 Bulbasaur             318    49     49
2 Ivysaur               405    62     63
3 Venusaur              525    82     83
4 VenusaurMega Venusaur 625   100    123
5 Charmander            309    52     43
6 Charmeleon            405    64     58

In [45]:
pokemon_sub = pokemon %>% select(Name, Total, Attack, Defense)

In [47]:
head(pokemon_sub)

  Name                  Total Attack Defense
1 Bulbasaur             318    49     49
2 Ivysaur               405    62     63
3 Venusaur              525    82     83
4 VenusaurMega Venusaur 625   100    123
5 Charmander            309    52     43
6 Charmeleon            405    64     58

In [48]:
# select co dieu kien
pokemon_numbers = select_if(pokemon, is.numeric)

In [49]:
head(pokemon_numbers)

  X. Total HP Attack Defense Sp..Atk Sp..Def Speed Generation
1 1  318   45  49     49      65      65     45    1
2 2  405   60  62     63      80      80     60    1
3 3  525   80  82     83     100     100     80    1
4 3  625   80 100    123     122     120     80    1
5 4  309   39  52     43      60      50     65    1
6 5  405   58  64     58      80      65     80    1

In [53]:
# filter
pokemon_500_600 = filter(pokemon_sub, Total >=500, Total <= 600)
head(pokemon_500_600)
nrow(pokemon_500_600)

  Name                Total Attack Defense
1 Venusaur            525    82     83
2 Charizard           534    84     78
3 Blastoise           530    83    100
4 PidgeotMega Pidgeot 579    80     80
5 Nidoqueen           505    92     87
6 Nidoking            505   102     77

[1] 199

In [55]:
# mutate() tao cot moi
pokemon_sub <- mutate(pokemon_sub, Compare = ifelse(Attack > Defense, 1, 0))

In [56]:
head(pokemon_sub)

  Name                  Total Attack Defense Compare
1 Bulbasaur             318    49     49     0
2 Ivysaur               405    62     63     0
3 Venusaur              525    82     83     0
4 VenusaurMega Venusaur 625   100    123     0
5 Charmander            309    52     43     1
6 Charmeleon            405    64     58     1

In [65]:
# arrange() sapx ep du lieu
head(arrange(pokemon_sub, desc(Total)))

  Name                  Total Attack Defense Compare
1 MewtwoMega Mewtwo X   780   190    100     1
2 MewtwoMega Mewtwo Y   780   150     70     1
3 RayquazaMega Rayquaza 780   180    100     1
4 KyogrePrimal Kyogre   770   150     90     1
5 GroudonPrimal Groudon 770   180    160     1
6 Arceus                720   120    120     0

In [66]:
head(arrange(pokemon_sub, desc(Total), desc(Attack)))

  Name                  Total Attack Defense Compare
1 MewtwoMega Mewtwo X   780   190    100     1
2 RayquazaMega Rayquaza 780   180    100     1
3 MewtwoMega Mewtwo Y   780   150     70     1
4 GroudonPrimal Groudon 770   180    160     1
5 KyogrePrimal Kyogre   770   150     90     1
6 Arceus                720   120    120     0

In [67]:
group = group_by(pokemon, Type.1)
summary = summarize(group,
                   count = n(),
                   mean.Attack = mean(Attack, na.rm = T),
                   median.Attack = median(Attack, na.rm = T),
                   mean.Defense = mean(Defense, na.rm = T),
                   median.Defense = median(Defense, na.rm = T))

`summarise()` ungrouping output (override with `.groups` argument)

In [68]:
summary

   Type.1   count mean.Attack median.Attack mean.Defense median.Defense
1  Bug       69    70.97101    65.0          70.72464     60.0
2  Dark      31    88.38710    88.0          70.22581     70.0
3  Dragon    32   112.12500   113.5          86.37500     90.0
4  Electric  44    69.09091    65.0          66.29545     65.0
5  Fairy     17    61.52941    52.0          65.70588     66.0
6  Fighting  27    96.77778   100.0          65.92593     70.0
7  Fire      52    84.76923    84.5          67.76923     64.0
8  Flying     4    78.75000    85.0          66.25000     75.0
9  Ghost     32    73.78125    66.0          81.18750     72.5
10 Grass     70    73.21429    70.0          70.80000     66.0
11 Ground    32    95.75000    85.0          84.84375     84.5
12 Ice       24    72.75000    67.0          71.41667     75.0
13 Normal    98    73.46939    70.5          59.84694     60.0
14 Poison    28    74.67857    74.0          68.82143     67.0
15 Psychic   57    71.45614    57.0          67.68421     65.0
16 Rock      44    92.86364    95.0         100.79545    100.0
17 Steel     27    92.70370    89.0         126.37037    120.0
18 Water    112    74.15179    72.0          72.94643     70.0

In [70]:
count(pokemon, Type.1)

   Type.1   n
1  Bug       69
2  Dark      31
3  Dragon    32
4  Electric  44
5  Fairy     17
6  Fighting  27
7  Fire      52
8  Flying     4
9  Ghost     32
10 Grass     70
11 Ground    32
12 Ice       24
13 Normal    98
14 Poison    28
15 Psychic   57
16 Rock      44
17 Steel     27
18 Water    112

In [71]:
new <- count(pokemon, Type.1)

In [72]:
head(new)

  Type.1   n
1 Bug      69
2 Dark     31
3 Dragon   32
4 Electric 44
5 Fairy    17
6 Fighting 27

In [74]:
new <- mutate(new, precentage = n/100)

In [75]:
head(new)

  Type.1   n  precentage
1 Bug      69 0.69
2 Dark     31 0.31
3 Dragon   32 0.32
4 Electric 44 0.44
5 Fairy    17 0.17
6 Fighting 27 0.27

In [76]:
# Sample_n() Chon mau ngau nhien
sample_n(pokemon, 5)

  X.  Name                    Type.1   Type.2   Total HP  Attack Defense
1 652 Chesnaught              Grass    Fighting 530    88 107    122
2 125 Electabuzz              Electric          490    65  83     57
3 373 SalamenceMega Salamence Dragon   Flying   700    95 145    130
4 633 Deino                   Dark     Dragon   300    52  65     50
5 490 Manaphy                 Water             600   100 100    100
  Sp..Atk Sp..Def Speed Generation Legendary
1  74      75      64   6          False
2  95      85     105   1          False
3 120      90     120   3          False
4  45      50      38   5          False
5 100     100     100   4          False

In [77]:
# Sample_frac(): Chon n% mau ngau nhien
sub_5_per = sample_frac(pokemon, 0.05)

In [79]:
head(sub_5_per)

  X.  Name     Type.1   Type.2 Total HP Attack Defense Sp..Atk Sp..Def Speed
1 636 Larvesta Bug      Fire   360   55  85    55       50      55      60
2 585 Deerling Normal   Grass  335   60  60    50       40      50      75
3 542 Leavanny Bug      Grass  500   75 103    80       70      80      92
4 346 Cradily  Rock     Grass  495   86  81    97       81     107      43
5 135 Jolteon  Electric        525   65  65    60      110      95     130
6 698 Amaura   Rock     Ice    362   77  59    50       67      63      46
  Generation Legendary
1 5          False
2 5          False
3 5          False
4 3          False
5 1          False
6 6          False

In [80]:
nrow(sub_5_per)

[1] 40